* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    height: 920px;
    margin: 0;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 666.67px;
    height: 666.67px;
    background: linear-gradient(90deg, #F69430 0%, #F14E29 34.39%, #F3632B 61.22%, #F5832F 79.27%, #F58220 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.conteiner {
    padding: 6.86px 6.26px;
    width: 487.61px;
    height: 487.61px;
    background: #E1E1E1;
    transform: matrix(1, 0, 0, -1, 0, 0);
    box-shadow:  0px 5px 2px -0.5px rgba(0, 0, 0, 0.2);
}
.img-close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.close {
    cursor: pointer;
    width: 19.36px;
    height: 19.36px;
}
h1 {
    width: 255px;
    height: 47px;
    font-weight: 400;
    font-size: 34.6671px;
    line-height: 47px;
    color: #343844;
}
.div-h1 {
    display: flex;
    justify-content: center;
    padding-top: 36.51px;
}
.a1 {
    color: rgb(255, 255, 255);
}
.p1 {
    width: 225px;
    height: 18px;
}
.div-p1 {
    display: flex;
    justify-content: center;
    padding-top: 22.74px;
}
.people-img {
    width: 60.56px;
    height: 60.56px;
}
.login div {
    display: flex;
    justify-content: center;
    padding-top: 23.44px;
}
.name::placeholder {
    color:rgba(0, 0, 0, 0.3)
}
.name {
    cursor: pointer;
    width: 256px;
    height: 60.56px;
    border: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    padding: 0 44.88px 0 26.61px;
    color: black;
}
.name:focus {
    outline: none;
}
.password-img {
    width: 60.56px;
    height: 60.56px;
}
.password {
    display: flex;
    justify-content: center;
    padding-top: 22.17px;
    position: relative;
}
.password1 {
    cursor: pointer;
    width: 256px;
    height: 60.56px;
    border: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    padding: 0 44.88px 0 26.61px;
    color: black;
}
.password1::placeholder {
    color:rgba(0, 0, 0, 0.3)
}
.password1:focus {
    outline: none;
}
.button-sing-in {
    cursor: pointer;
    font-weight: 400;
    font-size: 27.4531px;
    line-height: 37px;
    color: #FFFFFF;
    background: #E65848;
    width: 183.09px;
    height: 60.56px;
    position: absolute;
    border: 0;
}
.sing-in {
    margin-top: 42.17px;
    margin-left: 49.78px;
}
.password-control {
	position: absolute;
    display: inline-block;
    right: 61px;
    top: 30px;
	width: 50px;
	height: 50px;
	background: url(images/eyeslash.png) 0 0 no-repeat;
}
.password-control.view {
	background: url(images/eye.png) 0 0 no-repeat;
}
.checkbox {
    left: 300px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.checkbox-div {
    display: flex;
    justify-content: flex-end;
    width: 388.05px;
}
.a2 {
    position: relative;
    top: 10px;
    left: 250px;
    text-decoration: none;
    color: black;
}
.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox + label {
	position: relative;
    padding: 0 0 0 30px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.checkbox:checked + label:before {
	background: #00ff40;
}
.checkbox:checked + label:after {
	background: url(images/checkmark.png);
    background-size: 100%;
}
.checkbox:focus + label:before {
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}